.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar-customclass {
    background-color: 24292E;
}
/* changing brand text color*/

/* navigation link text color */
.navbar-customclass .navbar-nav .nav-link {
    color: white;
}
/* navigation links anchor hover and active styles */
.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: rgba(255,255,255,.6);
}
textarea:focus,
input[type="tel"]:focus,
.uneditable-input:focus {
  background-color: white;
  border-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0 rgba(0, 0, 0, 0);
}
input:invalid {
    background-color: 24292E;
    color: white;
}

input:valid {
    background-color: white;
    color: black;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: 0366D6!important;
    background-color: white!important;
}

.dropdown-item{
  color: 6A737D;

}
a{
  text-decoration: none;
}
.link-primary:hover {
  text-decoration: underline;
}
b{
  font-weight: 600;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
.link-primary.link-primary-s{
  margin-left: 4.7%
}

.githubb{
  color: D2D3D8;
  margin-left: 4.7%
}
.githubb:hover {
    color: 6A737D;
}
